<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>19/06/16 03:20:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/16 03:20:36</td>   <td>9248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/16 03:20:07</td>   <td>-20250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/16 03:20:27</td>   <td>325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/06/16 03:20:23</td>   <td>-3975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">loginAndLogout</td> 
  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/06/16 03:20:33</td>   <td>6060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">loginAndLogout</td> 
  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/16 03:20:06</td>   <td>-21528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/06/16 03:20:05</td>   <td>-21848</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/06/16 03:20:05</td>   <td>-21837</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/16 03:20:04</td>   <td>-22652</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/16 03:20:37</td>   <td>9511</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/06/16 03:20:37</td>   <td>9423</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@9f73a2]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
</table>
